body {
    background-image: url("image.jpg");
    background-size: 70em;
}

h4 {
    font-size: 30px;
    text-align: center;
    font-style: oblique;
    color: #d3d3d3;
}

h2 {
    text-align: center;
    color: white;
}

h3 {
    color: White;
    text-align: center;
    font-style: italic;
    font-size: 40px;
    font-style: oblique;
}

p {
    text-align: center;
    font-size: 25px;
    font-style: bold;
    font-style: oblique;
    color: white;
}

.container {
    font-size: 30px;
    border: none;
}

.container>img {
    padding-top: 20px;
    display: block;  
    margin-left: auto;
    margin-right: auto; 
}

#icon:hover {
    cursor: pointer;
}

.search-form {
    text-align: center;
    /*padding: 12px 20px 12px 40px;*/
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.wrapper {
    display: block;  
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.name-search {
    margin: 14px 2px;
    padding: 21px 168px;
}


.submit-search {
    padding: 23px 48px;
    text-align: center;
    margin: 20px;
}

.submit-search:hover {
    background-color: white;
}

.fieldsetlogin {
    padding: 35px 249px;
    border: none;
}

.login-form {
    padding: 12px 43px;
}

.fname-login {
    margin: 20px 45px;
    padding: 19px 160px;
}

.lname-login {
    margin: 20px 45px;
    padding: 19px 160px;
}

.email {
    margin: 20px 45px;
    padding: 19px 160px;
}

.submit-login {
    margin: 26px 13px 19px 205px;
    padding: 12px 36px 26px 29px;
    color: black;
}

.submit-login:hover {
    background-color: white;
}

