html
  head
    link(rel='stylesheet', type='text/css', href='style.css')
  body
    .navigation
      ul.nav
        li
          a(href="index.pug") Home
        li
          a(href="search.pug") Search
        li
          a(href="signup.pug") Sign Up
        li
          a(href="users.pug") Users